---
import Carrusel from "./carrusel/carrusel.astro";
const slides = [
  {
    title: "Slide 1",
    description: "Description 1",
    image: "/public/image_one.jpg",
  },
  {
    title: "Slide 2",
    description: "Description 2",
    image: "/public/image_two.jpg",
  },
  {
    title: "Slide 3",
    description: "Description 3",
    image: "/public/image_three.jpeg",
  },
];
---

<div>
  <Carrusel class="grid place-content-center border" slides={slides} />
</div>
