---
import Personal from "./personal/personal.astro";
import Services from "./services/services.astro";
---

<div class="grid place-items-center mb-10 mt-10 gap-2">
  <Services
    class="md:w-[92%] grid grid-flow-row place-items-center w-full md:grid-flow-col md:grid-cols-2 bg-lightGray md:rounded-xl md:mt-5 border-white border-2"
  />
  <Personal
    class="md:w-[92%] text-center grid grid-flow-row md:align-middle md:justify-center bg-lightGray md:rounded-xl md:mt-5 border-white md:border-2 md:p-5 place-items-center"
  />
</div>
