---

---

<div
  id="LateralId"
  class="fixed w-0 h-screen bg-darkGray right-0 top-0 grid grid-rows-3"
>
  <style>
    #LateralId {
      transition: all 200ms ease-in;
    }
  </style>
  <ul
    class="text-white w-full min-h-[100px] place-content-center grid-rows-3 grid pt-10"
  >
    <li class={` text-center place-content-center`}>
      <a href="About">About</a>
    </li>
    <li class={` text-center place-content-center`}>
      <a href="Blog">Blog</a>
    </li>
    <li class={` text-center place-content-center`}>
      <a href="Contact">Contact</a>
    </li>
  </ul>
</div>
