---
const { class: classNames } = Astro.props;
---

<footer class:list={classNames}>
  <div
    class="text-white w-full text-center md:text-start gap-5 mt-5 md:gap-0 md:mt-0"
  >
    <div class="grid place-items-center gap-5 place-content-center">
      <div>
        <h2>Contáctanos</h2>
        <p>Si tienes alguna duda o sugerencia, no dudes en contactarnos.</p>
      </div>
      <div
        id="socialNetworksContainer"
        class="grid grid-flow-col w-[50%] place-items-center gap-2"
      >
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.facebook.com/"
        >
          <img class="w-[60px]" src="/icon-facebook.svg" alt="Facebook" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.x.com/"
        >
          <img class="w-[60px]" src="/icon-x.svg" alt="X" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.linkedin.com/"
        >
          <img class="w-[60px]" src="/icon-linkedin.svg" alt="Linkedin" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.telegram.com/"
        >
          <img class="w-[60px]" src="/icon-telegram.svg" alt="Telegram" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.whatsapp.com/"
        >
          <img class="w-[60px]" src="/icon-wpp.svg" alt="Whatsapp" />
        </a>
      </div>
    </div>
    <div class="grid place-items-center gap-5 place-content-center">
      <p>© 2022 - 2024</p>
      <p>Desarrollado por @CODEJ31M</p>
    </div>
  </div>
  <div
    id="contactContainer"
    class="grid place-content-center place-items-center w-full"
  >
    <form
      id="contactForm"
      class="grid md:grid-flow-col md:grid-cols-2 md:gap-2 md:mb-5 md:h-[50%] w-[90%] text-center"
      method="post"
    >
      <div class="grid md:grid-flow-row md:h-[80%] md:w-[100%]">
        <label class="text-white" for="email">Correo electrónico</label>
        <input class="rounded" type="email" name="email" id="email" required />
        <label class="text-white" for="name">Nombre</label>
        <input class="rounded" type="text" name="name" id="name" required />
        <label class="text-white" for="subject">Asunto</label>
        <input
          class="rounded"
          type="text"
          name="subject"
          id="subject"
          required
        />
      </div>
      <div class="grid md:grid-flow-row md:gap-4 md:w-full md:h-[80%] h-[60%]">
        <label class="text-white" for="message">Mensaje</label>
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          class="rounded w-full h-full"
          maxlength="200"
          required></textarea>
        <button
          id="submitBtn"
          class="bg-blue hover:bg-white hover:text-black text-white transition-colors ease-linear duration-300 p-2 rounded"
          type="submit">Enviar</button
        >
      </div>
    </form>
  </div>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
  ></script>

  <script type="">
    document.addEventListener("DOMContentLoaded", function () {
      const submitBtn = this.getElementById("submitBtn");
      const contactForm = this.getElementById("contactForm");
      (function () {
        fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => {
            const userIp = data.ip;
            console.log(userIp);
            emailjs.init({
              publicKey: "1A5eTbSy-fT9U4cso",
              limitRate: {
                id: userIp, // Usa la IP del visitante como id
                throttle: 60000 * 60,
              },
            });
          });
      })();
      if (!submitBtn || !contactForm) return;
      contactForm.addEventListener("submit", function (e) {
        e.preventDefault();
        submitBtn.setAttribute("disabled", true);
        submitBtn.classList.toggle("cursor-not-allowed");
        submitBtn.classList.toggle("bg-blue");
        submitBtn.classList.toggle("bg-white");
        submitBtn.classList.toggle("text-white");
        submitBtn.classList.toggle("text-black");

        emailjs
          .sendForm("service_7y0u0js", "template_pn26jim", "#contactForm")
          .then(
            function (response) {
              console.log("Email sent!", response.status, response.text);
              submitBtn.removeAttribute("disabled");
              submitBtn.classList.toggle("cursor-not-allowed");
              submitBtn.classList.toggle("bg-blue");
              submitBtn.classList.toggle("bg-white");
              submitBtn.classList.toggle("text-white");
              submitBtn.classList.toggle("text-black");
            },
            function (error) {
              console.log("Email failed...", error);
            }
          );
      });
    });
  </script>
</footer>
