---
const { class: classNames } = Astro.props;
---

<footer class:list={classNames}>
  <div
    class="text-white w-full text-center md:text-start gap-5 mt-5 md:gap-0 md:mt-0"
  >
    <div class="grid place-items-center gap-5 place-content-center">
      <div>
        <h2>Contáctanos</h2>
        <p>Si tienes alguna duda o sugerencia, no dudes en contactarnos.</p>
      </div>
      <div
        id="socialNetworksContainer"
        class="grid grid-flow-col w-[50%] place-items-center gap-2"
      >
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.facebook.com/"
        >
          <img class="w-[60px]" src="/icon-facebook.svg" alt="Facebook" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.x.com/"
        >
          <img class="w-[60px]" src="/icon-x.svg" alt="X" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.linkedin.com/"
        >
          <img class="w-[60px]" src="/icon-linkedin.svg" alt="Linkedin" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.telegram.com/"
        >
          <img class="w-[60px]" src="/icon-telegram.svg" alt="Telegram" />
        </a>
        <a
          target="_blank"
          class="bg-white contrast-200 hover:bg-dark brightness-150 transition-colors ease-out duration-300 p-2 rounded"
          href="https://www.whatsapp.com/"
        >
          <img class="w-[60px]" src="/icon-wpp.svg" alt="Whatsapp" />
        </a>
      </div>
    </div>
    <p>© 2022 - 2024</p>
    <p>Desarrollado por @CODEJ31M</p>
  </div>
  <div
    id="contactContainer"
    class="grid place-content-center place-items-center w-full"
  >
    <form
      action="/contact_form"
      class="grid md:grid-flow-col md:grid-cols-2 md:gap-2 md:mb-5 md:h-[50%] w-[90%] text-center"
      method="post"
    >
      <div class="grid md:grid-flow-row md:h-[80%] md:w-[100%]">
        <label class="text-white" for="email">Correo electrónico</label>
        <input class="rounded" type="email" name="email" id="email" />
        <label class="text-white" for="name">Nombre</label>
        <input class="rounded" type="text" name="name" id="name" />
        <label class="text-white" for="subject">Asunto</label>
        <input class="rounded" type="text" name="subject" id="subject" />
      </div>
      <div class="grid md:grid-flow-row md:gap-4 md:w-full md:h-[80%] h-[60%]">
        <label class="text-white" for="message">Mensaje</label>
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          class="rounded w-full h-full"></textarea>
        <button
          class="bg-blue hover:bg-white hover:text-black text-white transition-colors ease-linear duration-300 p-2 rounded"
          type="submit">Enviar</button
        >
      </div>
    </form>
  </div>
</footer>
